/* Assigning logo in the navigation paddings, height and width */
body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
img{
	border-radius: 15px;
}
input,textarea {
	border-radius: 8px;
    outline:0px; /* Removes blue border from textarea/input when clicked */

}

body nav ul li img {
    width: 43.2px;
    padding: 5px 10px 0px 10px;
}
/* Making nav list items vertical allign in the middle */

body nav ul li {
    vertical-align: middle;
	
}
body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* without this div height becomes 0px */
    
    background-color: skyblue;
}
body nav li {
    float: left;
}
body nav ul li a {
    display: inline-block;
    transition: 0.7s;
    /* Adding transition time when changing background color or font-size */
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(50, 69, 80);
    line-height: 30px;
}
/* Changes background color when touched with the mouse */

ul li a:hover {
    background-color: rgb(126, 168, 235);
}
/* Displaying no menu icon */

ul.topnav li.icon {
    display: none;
}
body {
    background-color: aliceblue;
}
h1 {
    text-align: center;
    margin: 5px 0;
}
#billgatesdiv,
#mediv,
#butkeviciusdiv,
.newsArticle {
    overflow: hidden;
    border-top: 1px solid rgb(130, 130, 130);
    padding-top: 10px;
    margin-top: 10px;
}
#mediv,
#billgatesdiv,
#butkeviciusdiv,
#article1,
#article2,
#article3,
#article4,
#article5,
h3 {
    margin: 10px;
}
/* When the screen is less than 800 pixels , hide all list items except for logo(fist child). Show the list item that contains the link to open and close the topnav  */

@media screen and (max-width: 800px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    /* Display the menu icon on right */
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
	
	    ul.topnav.responsive {
        position: relative;
    }
	/* To keep menu icon on the same place when pressed */
    ul.topnav.responsive li.icon { 
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    #billgates,
    #me,
    #butkevicius {
        width: 100%;
    }
    #billgates {
        margin-top: 30px;
    }
    .articlePhoto,
    #billgatesdiv,
    #mediv,
    #butkeviciusdiv {
        width: 100%;
    }
    #logo {
        padding: 1.5px 0 0 0;
}
/* If the screen has less width that 239px page will display elements as it was 240px */

@media screen and (max-width: 239px) {
    #wrapper {
        width: 240px;
    }
}

/* For tablets and small desktops */

@media screen and (min-width: 800px) {
    body nav ul li #logo {
        padding: 3px 30px 0px 30px;
    }

	#billgates,
    #butkevicius,
    #articlePhoto1,
    #articlePhoto3,
    #articlePhoto5 {
        float: right;
        clear: right;
        margin: 10px;
    }
    #me,
    #articlePhoto2,
    #articlePhoto4 {
        float: left;
        margin: 10px
    }
    .founderimg,
    .articlePhoto {
        width: 300px;
    }
    h2 {
        text-align: center;
    }
    .foundertext,
    .articleText {
        margin: 10px;
    }
    #article5 {
        display: block;
    }
}
/* Making comments from contact.html have width 90% of the parent element */

#comments {
    width: 90%;
}
/* For desktops */

@media screen and (min-width: 1000px) {
    /* When desktops are wider than 1000px content will be displayed in the middle and will not go larger than 1000px */
    
    body {
        width: 1000px;
        margin: auto;
    }
    body nav ul li #logo {
        padding: 3px 30px 0px 30px;
    }
    body nav ul li a {
        font-size: 1.25em;
    }
    #billgates,
    #butkevicius {
        float: right;
        clear: right;
        margin: 10px;
    }
    #me {
        float: left;
        margin: 10px
    }
    .founderimg {
        width: 300px;
    }
    h2 {
        text-align: center;
    }
    .foundertext {
        margin: 10px;
    }
}
footer {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}
footer p {
    margin: 0;
    border-top: 1px solid rgb(150, 150, 150);
    color: rgb(126, 126, 126);
}
#spongebob2 {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
canvas {
    margin-top: 10px;
}
#nextPuzzle {
    clear: both;
}
#recommendation {
	text-decoration: none;
	color: brown;
}
